<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medium Daily Digest</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #f4f4f4;">
    <div style="width: 100%; max-width: 600px; margin: 0 auto; background-color: #1c1c20; padding: 20px; color: #f8f9fe;">
        <div style="text-align: center; padding: 10px 0; border-bottom: 1px solid #ddd; background:url('https://imagedelivery.net/6qzLODAqs2g1LZbVYqtuQw/1d86d274-7ffb-4281-4174-e30a14c12100/public'); background-size: cover;">
            <h1 style="font-size:42px; font-weight:900;">너드플래닛 뉴스레터</h1>
        </div>
        <div style="display:flex; justify-content:center; align-items:center; flex-direction:column; gap:6px; font-weight:600px; padding:36px 0px;">
            <div>
                안녕하세요. {{ .Name }}님 🥳
            </div>
            <div>
                오늘의 뉴스레터가 도착했어요!
            </div>
            <div>
                총 {{ .Length }}개의 새로운 글을 준비했답니다.
            </div>
        </div>
        <div style="padding: 0;">
            <h2 style="font-size: 18px; margin-bottom: 10px;">새로운 글</h2>

            {{range .Items}}

            <div style="display: flex; align-items: flex-start; margin-bottom: 20px;">
                <a href="{{.ItemLink}}">
                    <img src="{{.ItemThumbnail}}" alt="Article Image" style="width: 100px; height: 100px; margin-right: 20px; overflow:hidden;">
                </a>
                <div style="flex-grow: 1;">
                    <h3 style="font-size: 16px; margin: 0 0 5px;"><a href="{{.ItemLink}}" style="text-decoration: none; color: #f8f9fe;">{{.ItemTitle}}</a></h3>
                    <p style="font-size: 12px; margin: 0;padding:0; color:#C0C0C0;">{{.FeedName}}</p>
                    <p style="font-size: 14px; margin: 0;color:#E3E3E3;margin-top:20px">{{.ItemDescription}}</p>
                </div>
            </div>

            {{end}}

        </div>
        <div style="text-align: center; padding: 10px 0; border-top: 1px solid #ddd; font-size: 12px;">
            <div style="flex:1; display:flex; justify-content:center; align-items:center; padding: 24px">
                <img src="https://imagedelivery.net/6qzLODAqs2g1LZbVYqtuQw/c128208d-c3ff-488f-93d7-4ba3ce866c00/public" alt="plaa" width="60px" height="60px"/>
            </div>
            <p>Stories for <strong>Nerd Planet</strong> <a href="#" style="color: white; text-decoration: none;">@Nerd Planet</a> • <a href="#" style="color: white; text-decoration: none;">Become a member</a></p>
        </div>
    </div>
</body>